<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEmpresas">
      <div class="mb-3">
        <label for="razao_social" class="form-label"> Razão Social: </label>
        <input
          type="text"
          formControlName="razao_social"
          class="form-control"
          id="razao_social"
          placeholder="Nome Empresarial"
        />
      </div>

      <div class="mb-3">
        <label for="nome_fantasia" class="form-label"> Nome Fantasia: </label>
        <input
          type="text"
          formControlName="nome_fantasia"
          class="form-control"
          id="nome_fantasia"
          placeholder="Nome Fantasia"
        />
      </div>

      <div class="mb-3">
        <label for="ramo" class="form-label"> Ramo de Atividade: </label>
        <input
          type="text"
          formControlName="ramo"
          class="form-control"
          id="ramo"
          placeholder="Ramo de Atividade"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="Email"
        />
      </div>

      <div class="mb-3">
        <label for="contato" class="form-label"> Contato: </label>
        <input
          type="text"
          formControlName="contato"
          class="form-control"
          id="contato"
          placeholder="Telefone"
        />
      </div>

      <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Nome Fantasia</th>
      <th scope="col">Ramo de Atividade</th>
      <th scope="col">Email</th>
      <th scope="col">Contato</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresas of empresas">
      <th scope="row">{{ empresas.id }}</th>
      <td>{{ empresas.razao_social }}</td>
      <td>{{ empresas.nome_fantasia }}</td>
      <td>{{ empresas.ramo }}</td>
      <td>{{ empresas.email }}</td>
      <td>{{ empresas.contato }}</td>
    </tr>
  </tbody>
</table>
